.header-section {
    background-color: lightblue;
    line-height: 1.5;
    text-align: center;
    padding: 30px 0px;
}

.header-section .subheading {
    font-size: 1.1rem;
    color: rgba(var(--header-section-foreground-color-rgb), 0.75);
    font-weight: 300;
    width: 75%;
    margin: 15px auto 0px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    width: 100%;
}

.section.locations .location-list {
    list-style-type: none;
    padding: 0px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.section.locations .location {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    max-width: 900px;
    text-align: center;
    gap: 1rem 2rem;
    margin: 0px auto 2rem;
}

.section.locations .location-map {
    flex-shrink: 0;
    position: relative;
    text-align: center;
    width: 200px;
}

.section.locations .location-map .location-map-image.hexagon {
    clip-path: polygon(50% 1%, 95% 25%, 95% 75%, 50% 99%, 5% 75%, 5% 25%);
}

.section.locations .location-map .location-map-image {
    height: 200px;
    position: relative;
    width: 200px;
    margin: 0px auto;
    overflow: hidden;
}

.schedule-section .activities {
    list-style-type: none;
    max-width: 900px;
    padding: 0px;
    margin: 0px auto;
}

.schedule-section .activity {
    margin-bottom: 2rem;
    text-align: center;
}

.schedule-section .activity-headline {
    font-size: 1.3rem;
    text-transform: var(--headline-text-transform);
}

.schedule-section .activity-description {
    font-weight: 300;
    margin: 3px 0px 0px;
}

.schedule-section .icon-wrapper .icon {
    -webkit-box-align: center;
    align-items: center;
    color: lightcoral;
    display: inline-flex;
    font-size: 2.5rem;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    text-align: center;
    z-index: 2;
    background: lightblue;
    border: 5px lightblue;
    border-radius: 50%;
    padding: 0.5rem;
}

.schedule-section .icon-wrapper .icon img {
    height: 40px;
}
.schedule-section .activity::after {
    content: "";
    display: block;
    height: 1.5rem;
    width: 1px;
    background: lightblue;
    margin: 1rem auto -1rem;
}